<section class="share {{ include.classes }}">
  <div class="contained">

<div class="scene-element scene-element--fadeInBottom">
    <h3>Share Your Classic Summer Moment</h3>
    <p class="hastag">#CoolSummerClassics</p>

    <ul class="social-links">
      <li>
        <a href="https://instagram.com/explore/tags/coolsummerclassics/" title="Share on instagram">
          <svg>
            <use xmlns:xlink=http://www.w3.org/1999/xlink xlink:href="#ig"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.coolsummerclassics.com/" title="Share on facebook">
          <svg>
            <use xmlns:xlink=http://www.w3.org/1999/xlink xlink:href="#fb"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/home?status=My%20%23CoolSummerClassics" title="Share on twitter">
          <svg>
            <use xmlns:xlink=http://www.w3.org/1999/xlink xlink:href="#tw"></use>
          </svg>
        </a>
      </li>
    </ul>
</div>
  </div>
</section>
